<div class="container">
  <div class="row">
    <div class="col mr-3 d-flex justify-content-end">
      <%= image_tag("Olivier-Roper-Lawyer.jpg", class:"img-responsive rounded img-fluid img-home")  %>
    </div>
    <div class="col p-5">
      <h2 class="">About Roper Lawyers</h2>
      <p class="lead ml-5">We make the process of purchasing property risk free We make the process of purchasing property risk free We make the process of purchasing property risk free We make the process of purchasing property risk free</p>
    </div>
  </div>
</div>
