 <section class="bg-dark">
 <div class="container  px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 text-center white-text">Purchase costs</h2>
    <p class="text-center white-text text-muted">The costs of buying a property in Lantext-mutedarote is in the region of 8 to 10% of the purchase price depending on the amount.</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h2 class="white-text">Public Notary</h2>
          <p class="text-muted">The Public Notary fee will depend on various factors. The amount is approximatly in the region of 500-2,000 € depending on the property purchase price.</p>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h2 class="white-text">Land Registry</h2>
          <p class="text-muted">The Land Registry fee also depends on a number of factors and is approximatly in the region of 350-900 €, depending on the purchase price.</p>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <h2 class="white-text">Transfer Tax</h2>
          <p class="text-muted">Transfer tax in the Canary Islands is 6,5% of the purchase price and is paid direclty into the Tax Authorities with no charges for the bank transfer.</p>

        </div>
      </div>
    </div>
  </div>
  </section>
