<div class="container px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-md-10 mx-auto col-lg-5">
        <%= image_tag("OlivierRoperConveyancingSolicitors.jpg", class:"d-none d-sm-block mx-lg-auto img-fluid rounded img-home mt-5")  %>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Property Conveyancing Solicitors in <span class="gradient-text">Canary Islands</span></h1>
        <p class="">Roper Lawyers is a well-respected firm of solicitors offering practical and expert legal advice on buying and selling property. We have been featured twice on Channel 4's A Place in the Sun and help people purchase property safely and easily with tailored conveyancing. Our solicitors are approachable and responsive to your needs and always strive to provide a high-quality legal service. No matter what sort of property transaction you’re looking to complete, our bilingual English/Spanish-speaking solicitors will guide you through the entire process from start to finish.
</p>
        <div class="d-grid gap-2 d-md-flex my-4 justify-content-md-start">

          <%# <button type="button" class="btn btn-primary btn-lg px-4 p-3 me-md-2 my-3 gold-bg" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact</button> %>
        <div class="d-grid gap-2">
        <!-- Calendly link widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4 p-3  button-super-white" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/roperlawyers/15min?hide_gdpr_banner=1'});return false;">Free consultation with Olivier Roper</button>
        </div>
<div>

          <a class="d-grid gap-2 btn btn-primary btn-lg p-3 px-5 me-md-2 gold-bg" href="https://wa.me/+34649948377">WhatsApp
          </a>
        </div>

<!-- Calendly link widget end -->
          <%#  <button type="button" class="btn btn-outline-secondary btn-lg px-4 p-3 my-3 button-super-white"></button>%>
        </div>
        <div>
          <a class="emailus" href="mailto:info@roperlawyers.com">Email us →
          </a>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form id='contactUsForm'>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id='submitButton' class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
