<div class="container p-5 white-bg">
<h2 class="text-center">Purchase with total security</h2>
  <div class="row">
    <div class="col-sm-3 p-5 d-flex align-items-stretch">
      <%= image_tag("AbogaciaEspañolalogo.png", class:"img-responsive img-fluid")  %>
    </div>
    <div class="col-sm-3 p-5 d-flex align-items-stretch">
      <%= image_tag("ICALANlogo.png", class:"img-responsive img-fluid")  %>
    </div>
    <div class="col-sm-3 p-5 d-flex align-items-stretch">
      <%= image_tag("UBlogo.png", class:"img-responsive img-fluid")  %>
    </div>
    <div class="col-sm-3 p-5 d-flex align-items-stretch">
      <%= image_tag("ULLlogo.png", class:"img-responsive img-fluid")  %>
    </div>

    </div>
  </div>
</div>
