<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Message from  <%= @from %>!</h1>
    <p>We have received your message: <%=@message %></p>
    <p>We will reach out shortly</p>
  </body>
</html>
