<% content_for :hide_footer, true %>
<!-- Minimalist Booking Page Container -->
<div class="container my-4">
  <div class="calendar-wrapper w-100">
    <!-- Google Calendar Appointment Scheduling begin -->
    <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ1KB7wJUa0bZP4MCrKMIbQ48VdHWRGYx3VAtfSxVZsftr1owCDgN8lKuvdB31rX3PcMKlksX8SD?gv=true" 
            style="border: 0; width: 100%; height: 1000px; border-radius: 8px;" 
            frameborder="0">
    </iframe>
    <!-- end Google Calendar Appointment Scheduling -->
  </div>
</div>
