<!-- Calendly widget assets -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>

<!-- Clean layout without navbar -->
<div class="container-fluid" style="padding-top: 20px;">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="text-center mb-4">
        
      </div>
      <!-- Calendly widget displayed full-width, outside of any card container -->
      <div class="w-100">
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/roperlawyers/15min?hide_gdpr_banner=1&primary_color=b29c84" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
      </div>
    </div>
  </div>
</div>
