/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // variable overrides

 @import "bootstrap/scss/bootstrap";

.form-control {
  background-color: rgb(245, 245, 245) !important;
  border: none;

}

.form-control:hover {
  background-color: rgb(195, 18, 18);
   }

.p-gray {
  color: gray;
   }

   .img {
 border-radius: 15px;
   }



.card-shadow {
box-shadow: rgba(131, 131, 131, 0.12) 0px 6px 16px;
border: none;
border-radius: 15px;
}

.img-home {
 max-width: 100% ;
height: 500px;

}
