.google-review-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  height: 100%;
}

.review-avatar {
  width: 32px;
  height: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  user-select: none;
}

.google-review-header {
  gap: 12px;
}

.google-review-name {
  font-size: 14px;
  color: #202124;
  line-height: 20px;
}

.review-stars {
  line-height: 1;
  margin: 8px 0 6px;
  gap: 1px;
}

.google-review-body {
  font-size: 14px;
  line-height: 1.5;
  color: #3c4043;
}

.review-comment {
  word-break: break-word;
  margin: 0;
}

.review-comment-clamped {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review-more-link,
.review-less-link {
  color: #135f7a;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #135f7a;
    text-decoration: underline;
  }
}
