
<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="contactForm">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id ="contactFormBody">
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingEmail" required placeholder="name@example.com">
            <label for="floatingInput">Your Email address</label>
          </div>
          <div class="form-floating">
            <textarea name="message" class="form-control" placeholder="Leave a comment here" required id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Message</label>
          </div>
          
        </div>
        <div class="modal-body" id ="successMessageBody">
          <div class="alert alert-success" role="alert">
            Your message has been sent successfully. We will get back to you soon. 
          </div>
          
        </div>    
        <div class="modal-body" id ="errorMessageBody">
          <div class="alert alert-danger" role="alert">
            Your message could not be sent. Reach out to us directly at 
          </div>
          
        </div>          
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send Message <i class="fa ct-spinner fa-spinner fa-spin"></i></button>
      </div>
    </div>
    </form>
  </div>
</div>  