<!-- WhatsApp Button -->
<div>
  <a class="whatsapp-btn" href="https://wa.me/+34649948377" target="_blank">
    <div class="red-dot"></div>
    <i class="fa-brands fa-whatsapp"></i>
  </a>
  <script src="https://kit.fontawesome.com/6640eefe98.js" crossorigin="anonymous"></script>
</div>
